.Modal {
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.Modal .ModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Modal .ModalHeader img {
    width: 40px;
    height: 40px;
    margin: 10px 20px;
}

.Modal .ModalHeader button {
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.Modal .ModalTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.Modal .ModalTabs button {
    padding: 10px;
    margin: 0px 10px;
    border: none;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}
.Modal .ModalTabs .active {
    background-color: #ccc;
}

.Modal .ModalContent {
    /* height: 50vh; */
    /* overflow-y: scroll; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    background-color: #f9f9f9;
}