:root {
    --primary-color: #ce3a3b;
    --primary-color-hover: #B03030;
    --text-color: #ffffff;
    --background-color: #314073;
    --footer-background-color: #1f1f1f;
    --footer-text-color: #aaaaaa;
}